footer {
  background-color: var(--background-tertiary-color);
  color: var(--text-secondary-color);
  height: 348px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
