.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/mobile/Banner-homepage.png) no-repeat;
  background-size: cover;
}

.hero-img.packages {
  background: url(../img/mobile/banner-destino.png) no-repeat;
  background-size: cover;
  height: 460px;
  width: 100%;
  margin-bottom: 88px;
}

.hero-img.blog {
  background: url(../img/mobile/banner-blogpost.png) no-repeat;
  background-size: cover;
  height: 460px;
  width: 100%;
  margin-bottom: 88px;
}

.hero-img.contact {
  background: url(../img/mobile/banner-contact.png) no-repeat;
  background-size: cover;
  height: 460px;
  width: 100%;
  margin-bottom: 88px;
}

.hero-text {
  margin: 0 auto;
  padding: 65px 24px;
  width: 100%;
  max-width: 360px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
}

.hero-text hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.hero-text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
}

.hero h2 {
  padding: 88px 24px;
  margin: 0 auto;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  max-width: 366px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    margin: 0 auto;
    padding: 209px 69px 107px 120px;
    width: 100%;
    max-width: 768px;
  }

  .hero-text p {
    font-size: 32px;
    line-height: 150%;
  }
  .hero-img {
    height: 620px;
    background: url(../img/tablet/Banner-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero-img.packages {
    height: 620px;
    background: url(../img/tablet/banner-destino.png) no-repeat;
    background-size: cover;
  }

  .hero-img.blog {
    background: url(../img/tablet/banner-blog.png) no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
    margin-bottom: 88px;
  }

  .hero-img.contact {
    background: url(../img/tablet/banner-contact.png) no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
    margin-bottom: 88px;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    max-width: 770px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/desktop/Banner.png) no-repeat;
    background-size: cover;
  }

  .hero-img.packages {
    background: url(../img/desktop/banner-destino.png) no-repeat;
    background-size: cover;
  }

  .hero-img.blog {
    background: url(../img/desktop/banner-blog.png) no-repeat;
    background-size: cover;
  }

  .hero-img.contact {
    background: url(../img/desktop/banner-contact.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 104px 120px;
    max-width: 1420px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .hero-text {
    margin: 0 auto;
    padding: 158px 680px 158px 120px;
    width: 100%;
    max-width: 1400px;
  }
  .hero-img {
    background: url(../img/desktop/Banner-large.png) no-repeat;
    background-size: cover;
  }

  .hero-img.packages {
    background: url(../img/desktop/banner-destino-large.png) no-repeat;
    background-size: cover;
    margin-bottom: 104px;
  }

  .hero-img.blog {
    background: url(../img/desktop/banner-blog-large.png) no-repeat;
    background-size: cover;
  }

  .hero-img.contact {
    background: url(../img/desktop/banner-contact-large.png) no-repeat;
    background-size: cover;
  }
}
