.text-content {
  width: 312px;
  margin: 0 auto 24px;
}

.text-content h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0 0 24px;
  max-width: 368px;
}

.text-content p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin: 0;
  max-width: 368px;
}

.image-content {
  width: 312px;
  margin: 0 auto 88px;
}

@media screen and (min-width: 768px) {
  .text-content {
    width: 648px;
  }

  .text-content h3 {
    max-width: 768px;
  }

  .text-content p {
    max-width: 768px;
  }

  .image-content {
    width: 648px;
  }
}

@media screen and (min-width: 1240px) {
  .payment-items {
    display: flex;
    gap: 23px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .text-content {
    width: 384px;
  }

  .text-content h3 {
    max-width: 315px;
  }

  .text-content p {
    max-width: 357px;
  }

  .image-content {
    width: 790px;
  }
}
