.text-content {
  width: 312px;
  margin: 0 auto 24px;
}

.text-content h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0 0 24px;
  max-width: 368px;
}

.text-content p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  margin: 0;
  max-width: 368px;
}

.image-content {
  width: 312px;
  margin: 0 auto 88px;
}
